<h6>User <var id="username">anonymous </var>recommended:</h6>
<hr/>
<h5 id="title">Go to El Retiro</h5>
<section class="blog-content row">
  <div class="column side" id="image">
    <img src="../images/alev-takil.png" alt="La casa de cristal." style="width:100%"/>
  </div>
  <div class="column middle">
    <p id="content-text">El Retiro is a beautiful place to spend an afternoon.
    This park has a lot of activities to explore. You can rent a boat to go
    in the lake there, have a walk around the extensive grounds or visit the
    free art exhibition which can be found inside the impressive Casa de Cristal.</p>
  </div>
</section>
