* {
  box-sizing: border-box;
}

body {
  background-color: #C5DCA0;
  min-width: 600px;
}
.column {
  float: left;
  padding: 10px;
}
.column.side {
  width: 25%;
}
.column.middle {
  width: 75%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
