<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="../header.css"/>
  <link rel="stylesheet" href="searchresults.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="keywords" content="travelling, advice"/>
</head>
<header>
  <a href="index.html">Home</a>
</header>
<body class="row">
  <div class="column side">
    <p>Here we will have stuff such as search options or categories or something
      like that.</p>
  </div>
  <div class="column middle">
    <p>Here the search result should appear.</p>
  </div>

</body>
</html>
