header {
  overflow: hidden;
  background-color: #E7ECEF;
}
header a {
  float: right;
  display: block;
  color: #068D9D;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
}
header a:hover {
  background-color: #86BBD8;
}
