body {
  background-image: url("images/venice-boats.png");
  height: 100%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: auto;
  min-width: 400px;
}

input.search {
  width:50%;
  max-width: 440px;
  padding: 5px 0 5px 0;
  font-size: 1.2em;
  text-indent: 1em;
  border-radius: 1em;
  border-color: #909090;
  border-style: solid;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
 }
h1 { color: white; font-size: 3em; }
.center {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}
