body {
  /*background-image: url("images/venice-boats.png");*/
  height: 100%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: auto;
  min-width: 400px;
}

input.search {
  width:50%;
  max-width: 440px;
  padding: 5px 0 5px 0;
  font-size: 1.2em;
  text-indent: 1em;
  border-radius: 1em;
  border-color: #9DA3A4;
  border-style: solid;
  outline: none;
  background-color: #E7ECEF;
 }

h1 { color: #E7ECEF; font-size: 3em; }

.center {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  text-shadow: -1px 0 #9DA3A4, 0 1px #9DA3A4, 1px 0 #9DA3A4, 0 -1px #9DA3A4;
}

/* Style the footer */
footer {
  background-color: #E7ECEF;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
  color: #86BBD8;
}