body {
  background-image: url("images/venice-boats.png");
  height: 100%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: auto;
}

header {
  overflow: hidden;
  background-color: #36494E;
}
header a {
  float: left;
  display: block;
  color: rgb(200, 200, 200);
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
}
