* {
  box-sizing: border-box;
}

body {
  background-color: #CEEAF7;
  min-width: 500px;
}
.column {
  float: left;
  padding: 5px;
}
.column.side {
  width: 25%;
}
.column.middle {
  width: 75%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.search-result {
  display: block;
  background-color: #1EA8CD;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.blog-content {
  display: block;
  margin: 5px;
}

h1 { 
  color: #1EA8CD; 
  font-size: 3em; 
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h6,h5 {margin: 0px}

h6 {
  font-weight: lighter;
  font-size: 1em;
}

h5 {font-size: 1.2em; padding-left: 10px;}

hr {
  border-color: #CEEAF7;
  border-style:solid;
  margin: 1px;
}

textarea {
  width:30em;
  height:20em
}

button {
  padding: 10px;
}