body {
    height: 100%;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 400px;
}

h1 { 
    color: black; 
    font-size: 3em; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {vertical-align: middle;}

footer {
    background-color: #E7ECEF;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #86BBD8;
}